{
  "presets": [["next/babel"]],
  "plugins": [
    ["babel-plugin-root-import"],
    ["babel-plugin-transform-flow-strip-types"],
    ["react-intl", {
      "messagesDir": "lang/.messages/"
    }],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
